/* You can add global styles to this file, and also import other style files */

    #toast-container > div{
        opacity: 0.7;
    }
    input.ng-touched.ng-invalid{
    border-color:red;}
    input.ng-valid{
    border-color:green;}
 #formElement {
    position: absolute;
    top: 40%;
    left: 30%;
    margin-top: -10px;
    margin-left: -30px;
     
  }